tools/jaxb/Server.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="address">
		<xs:complexType>
			<xs:attribute name="port" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="10001"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ip" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="127.0.0.1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ZookeeperServer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Host" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ServerInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="address"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Server">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ZookeeperServer"/>
				<xs:element ref="RouterServer"/>
			</xs:sequence>
			<xs:attribute name="version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RouterServer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ServerInfo"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Host">
		<xs:complexType>
			<xs:attribute name="port" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="2131"/>
						<xs:enumeration value="2132"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ip" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="127.0.0.1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
